* {
  box-sizing: border-box;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pad-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
    padding: 50px;;
}

.toggle-button{
    height: 50px;
    width: 50px;
    background: black;
    opacity: 1;
    border-radius: 50%;
}

button {
    height: 100px;
    width: 100px;
    border: 3px solid white;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.1;
    
}

.dark{
  background-color: #121212;
  color: #ffffff;
  transition: all 0.3s ease;
}

.alltoglerer{
    margin-top: 20px;
    color:black !important;
    opacity: 1;
    height:50px;
    border:1px solid black;
}

.on{
    opacity: 1;
    border:1px solid black;
}